<header>
   <div class="container">
      <nav class="navbar navbar-inner navbar-default navbar-static-top" role="navigation">
    <%= link_to image_tag("iap_smartvending_logo.gif", :size =>"347x56", id: "logo", alt:"Smart Vending"), root_path %>
        <p </p>
        <p class="nav pull-right">
          <%= link_to "Home",    root_path %>
          <%= link_to "Profile",    '#' %>
          <%= link_to "Help",    '#' %>
          <%= link_to "Sign in", '#' %>
        </p>
      </nav>
   </div>
</header>


