<div class="page-header">
<h2>Direct Command</h2>
</div>
<div class="page-header">
<h3>Command "get-fact-list" output</h3>
</div>
<div class="row-fluid">
    <div class="span12">
     <p>
        <div class="bs-docs-example">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Command</th>
                  <th>Output</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= p @resp['about'] %><%= p ' :Comando get-fact-list' %> </td>
                  <td><%= p @resp['response'] %> </td>
                </tr>
              </tbody>
            </table>
         </div>
     </p>
    </div><!--/span-->
</div>
<div class="page-header">
<h3>Command "get-defrule-list" output</h3>
</div>
<div class="row-fluid">
    <div class="span12">
     <p>
        <div class="bs-docs-example">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Command</th>
                  <th>Output</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= p @resp2['about'] %><%= p ' :Comando get-defrule-list' %> </td>
                  <td><%= p @resp2['response'] %> </td>
                </tr>
              </tbody>
            </table>
        </div>
     </p>
    </div><!--/span-->
</div>
